[submodule "grading_scripts"]
	path = grading_scripts
	url = https://github.com/0ffkilter/grading_scripts
[submodule "CS52_StarterFiles"]
	path = CS52_StarterFiles
	url = https://github.com/0ffkilter/CS52_StarterFiles
[submodule "jflap_tester"]
	path = jflap_tester
	url = https://github.com/0ffkilter/jflap-tester/
